<% include ../partials/head %>
<% include ../partials/header %>
<body>
<% include ../partials/image %>
<iframe style="border: 0; width: 400px; height: 472px;" src=<%= obj.bandcampE %> seamless><a href=<%= obj.bandcamp %>></a></iframe>
</body>
