
<% include ../partials/head %>
<div class="content">
  <% include ../partials/header %>
  <div class="center">
    <% include ../partials/image %>
    <p>Click through the links above to learn my opinion about these female fronted emo bands.</p>
  </div>
</div>
